<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:spring-cache="http://www.icfcc.com/schema/spring-cache"
	   xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.icfcc.com/schema/spring-cache http://www.icfcc.com/schema/spring-cache/spring-cache.xsd">

	<spring-cache:annotation-driven />
	<bean id="cacheManager" class="com.icfcc.cache.ehcache.EhCacheCacheManager"
		  p:cacheManager-ref="ehcache" />

	<!-- Ehcache library setup -->
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		  p:configLocation="ehcache.xml" />

	<bean id="cacheTest" class="com.icfcc.cache.BookService" />

	<!--<bean id="cacheManager" class="com.icfcc.cache.support.SimpleCacheManager">-->
	  <!--<property name="caches">-->
	    <!--<set>-->
	      <!--<bean class="com.icfcc.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="default"/>-->
	      <!--<bean class="com.icfcc.cache.concurrent.ConcurrentMapCacheFactoryBean" p:name="books"/>-->
	    <!--</set>-->
	  <!--</property>-->
	<!--</bean>-->
</beans>