/spring-cache/build
/spring-cache-test/build
/spring-cache/spring-cache.iml
/spring-cache-test/spring-cache-test.iml
/spring-cache-project.ipr
/spring-cache-project.iws
/spring-cache-project.iml
/target
/.gradle
/.idea
