<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:spring-cache="http://www.icfcc.com/schema/spring-cache"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.icfcc.com/schema/spring-cache http://www.icfcc.com/schema/spring-cache/spring-cache.xsd">

    <!-- as a top-level bean -->
    <spring-cache:dateformat id="defaultDateFormat" pattern="yyyy-MM-dd HH:mm" lenient="true"/>

    <spring-cache:annotation-driven />

    <bean id="cacheManager" class="com.icfcc.cache.ehcache.EhCacheCacheManager"
          p:cacheManager-ref="ehcache" />

    <!-- Ehcache library setup -->
    <bean id="ehcache" class="com.icfcc.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="ehcache.xml" />

    <!-- cache definitions -->
    <spring-cache:advice id="cacheAdvice" cache-manager="cacheManager">
        <spring-cache:caching cache="books">
            <spring-cache:cacheable method="findBook" key="#bookname"/>
            <spring-cache:cache-evict method="loadBooks" all-entries="true"/>
        </spring-cache:caching>
    </spring-cache:advice>

    <!--&lt;!&ndash; apply the cacheable behaviour to all BookService interfaces &ndash;&gt;-->
    <!--<aop:config>-->
        <!--<aop:advisor advice-ref="cacheAdvice" pointcut="execution(* com.icfcc.cache.CacheTest.*(..))"/>-->
    <!--</aop:config>-->

</beans>